<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home}/logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${application.home}/logs/access.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date - [%level] - %message%n%xException</pattern>
        </encoder>
    </appender>

    <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
    <logger name="play" level="WARN" />
    <logger name="actors" level="DEBUG" />
    <logger name="controllers" level="DEBUG" />
    <logger name="libs" level="DEBUG" />
    <logger name="plugins" level="DEBUG" />
    <logger name="models" level="DEBUG" />
    <logger name="securities" level="DEBUG" />

    <logger name="scalikejdbc" level="DEBUG" />

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourself -->
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

    <logger name="access" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ACCESS"/>
    </logger>

    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>